#progress-h2 {
  margin: 10px;
}

.home {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-margin {
  margin: 0 10px;
}

#progress-bar {
  width: 100%;
  background-color: gray;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}